* {
    margin: 0;
    padding: 0;

}

.wrapper {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.form {
    width: auto;
    display: flex;
    flex-direction: column;

    margin: 200px 80px 0;
}
.hide-container {
    display: none;
    align-items: center;

    gap: 15px;

    position: absolute;
    top: 120px;
    left: 1090px;
}
.hide-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}

.add-task {
    display: flex;
    align-items: end;
    gap: 24px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #174348;
}

.task-input {
    width: 960px;
    border: 1px solid #FFCD04;
    border-radius: 4px;
    padding: 13px 40px 12px 16px;
    /*position: relative;*/
}

.task-delete {
    width: 960px;
    border: 1px solid #FFCD04;
    border-radius: 4px;

    padding: 13px 20px 12px 16px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.025);
}

.task-input:focus {
    outline: none !important;
    border:1px solid #FFCD04;
}
.cancel {
    display: none;
    position: absolute;
    left: 1075px;
    top: 239px;

    color: #174348;
    font-size: 15px;
    font-weight: 900;
}

.cancel:hover, .hide-completed:hover, .confirm, .deny, .delete {
    cursor: pointer;
}
.max-length {
    display: none;
    font-size: 12px;
    color: #FF3104;
}
.add-button {
    width: 100px;
    padding: 12px 31px;

    background: #008594;
    border: 1px solid #008594;
    border-radius: 4px;

    font-weight: 500;
    color: white;
}
.empty-list.true {
    display: none;
}

.empty-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    font-weight: 500;
}

.blank-text {
    font-size: 24px;
    line-height: 36px;

    letter-spacing: 0.2px;

    color: #ACACAC;

}

h1 {
    font-size: 36px;
    line-height: 54px;

    letter-spacing: 0.002em;

    color: #666666;
}

.todo-list {
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-top: 60px;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}


.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    width: 1200px;
    border-bottom: 1px solid #E5E5E5;
}

.todo-hover:first-child .todo  {
    border-bottom: none;

}

.todo-hover:hover {
    background: #F6F6F6;
}

.item {
    display: flex;
    align-items: center;

    gap: 35px;

    padding: 20px 0;
}

.list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    text-transform: capitalize;

    color: #666666;
}

.delete {
    padding-right: 20px;
    z-index: 5;
    color:  #174348;

    font-size: 20px;
    font-weight: 700;
}

.delete-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.delete-container {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 4px;
}


.confirm-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #008594;
}

.confirm-container {
    display: flex;
    gap: 40px;
}

.confirm, .deny {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #174348;
    border: none;
    background: none;
}

.click-area.true {
    z-index: 10;
}

.click-area {
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
}

.hide-completed, .list-check {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.hide-completed::before, .list-check::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: #008594;

}

.hide-completed:checked::before,
.list-check:checked::before {
    content: "✔";
    color: white;
    text-align: center;
    background: #008594;
    border-color: #008594;
}



@media screen and (max-width: 1100px) {
    body {
        padding: 0 24px;
    }
    .form {
        margin: 200px auto 0;
    }
    .task-input {
        width: 650px;
    }
    .cancel {
        left: 765px;
    }
    .add-task {
        margin: 0 auto;
    }

    .todo {
        margin: 0 auto;
        width: 820px;
    }
    .list-item {
        font-size: 16px;
        line-height: 27px;
    }

    .item {
        gap: 17px;
    }

    .delete {
        padding: 20px;
    }

    .hide-completed {
        padding: 5px 0;
    }
    .hide-container {
        left: 775px;
    }


}

@media screen and (max-width: 900px) {
    body {
        padding: 0 24px;
    }
    .form {
        margin: 200px auto 0;
    }
    .task-input {
        width: 650px;
    }
    .cancel {
        left: 765px;
    }
    .add-task {
        flex-direction: column;
        margin: 0 auto;
    }

    .todo {
        margin: 0 auto;
        width: 700px;
    }
    .list-item {
        font-size: 16px;
        line-height: 27px;
    }

    .item {
        gap: 17px;
    }

    .delete {
        padding: 20px;
    }

    .hide-completed {
        padding: 5px 0;
    }
    .hide-container {
        left: 615px;
    }

}

@media screen and (max-width: 700px) {
    body {
        padding: 0 24px;
    }
    .form {
        margin: 200px auto 0;
    }
    .task-input {
        width: 470px;
    }
    .cancel {
        left: 525px;
    }
    .add-task {
        flex-direction: column;
        margin: 0 auto;
    }
    .blank-text {
        font-size: 18px;
        line-height: 21px;
    }
    h1 {
        font-size: 24px;
        line-height: 27px;
    }

    .todo {
        margin: 0 auto;
        width: 530px;
        align-items: flex-start;
    }
    .list-item {
        font-size: 16px;
        line-height: 27px;
    }

    .item {
        align-items: flex-start;
        gap: 15px;
    }

    .delete {
        padding: 20px;
    }

    .hide-completed {
        padding: 5px 0;
    }
    .hide-container {
        left: 425px;
    }

}

@media screen and (max-width: 560px) {
    body {
        padding: 0 24px;
    }
    .form {
        margin: 200px auto 0;
    }
    .task-input {
        width: 350px;
    }
    .cancel {
        left: 400px;
    }
    .add-task {
        flex-direction: column;
        margin: 0 auto;
    }
    .blank-text {
        font-size: 14px;
        line-height: 21px;
    }
    h1 {
        font-size: 18px;
        line-height: 27px;
    }

    .todo {
        margin: 0 auto;
        width: 420px;
        align-items: flex-start;
    }
    .list-item {
        font-size: 16px;
        line-height: 27px;
    }

    .item {
        align-items: flex-start;
        gap: 15px;
    }

    .delete {
        padding: 20px;
    }

    .hide-completed {
        padding: 5px 0;
    }
    .hide-container {
        left: 255px;
    }

}

@media screen and (max-width: 360px) {
    body {
        padding: 0 24px;
    }
    .form {
        margin: 200px auto 0;
    }
    .task-input {
        width: 260px;
    }
    .cancel {
        left: 300px;
    }
    .add-task {
        flex-direction: column;
        margin: 0 auto;
    }
    .blank-text {
        font-size: 12px;
        line-height: 21px;
    }
    h1 {
        font-size: 16px;
        line-height: 27px;
    }

    .todo {
        margin: 0 auto;
        width: 320px;
        align-items: flex-start;
    }
    .list-item {
        font-size: 16px;
        line-height: 27px;
    }

    .item {
        align-items: flex-start;
        gap: 11px;
    }

    .delete {
        padding: 20px;
    }

    .hide-completed {
        padding: 5px 0;
    }

    .hide-container {
        left: 150px;
    }

    .delete-container {
        width: 324px;
        height: 140px;
    }

    .max-length {
        font-size: 10px;
        line-height: 16px;
    }
}